<hr style="border-top: 5px solid purple; margin-top: 1px; margin-bottom: 1px"></hr>

# <span style="color:#3665af">SECTION 1: Time Series Analysis </span>
<hr>

###### Goal
This assignment covers the topic of time series analysis using TimescaleDB. Make sure you have
your system fully configured before starting this assignment. Refer to the Assignment document to do so.

<div style="font-size:20px;color:#F1F8FC;background-color:#0095EA;padding:10px;">Connect to PostgreSQL</div>

This section includes a reminder of how to connect to PostgreSQL.<br>
Open PostgreSQL and open the nyc_data database:

```
psql -U postgres -h localhost -d nyc_data
```

Then use the following command to see the list of tables:

```
\dt
```

<img src="img/img1.png" style="width:800px;">

Now use the following command to see the columns of rides table (you can press q for going back to the terminal):
```
\d rides
```

<img src="img/img2.png" style="width:600px;">

<div style="font-size:20px;color:#F1F8FC;background-color:#0095EA;padding:10px;">Run and Study Query Examples</div>

## Example 1

Find the average fare of rides with 2+ passengers per day until '2016-01-08':

```
SELECT date_trunc('day', pickup_datetime) as day, avg(fare_amount)
FROM rides
WHERE passenger_count > 1 AND pickup_datetime < '2016-01-08'
GROUP BY day
ORDER BY day;
```

<img src="img/img3.png" style="width:600px;">

## Example 2
Total number of rides by day for first 5 days

```
SELECT date_trunc('day', pickup_datetime) as day, COUNT(*) FROM rides
GROUP BY day
ORDER BY day
LIMIT 5;
```

<img src="img/img4.png" style="width:600px;">

Note: The following query is not supported by PostgreSQL itself and time_bucket is provided by timescaledb.

## Example 3
Find the number of rides by 5-minute intervals on 2016-01-01 using the TimescaleDB "<i>time_bucket</i>" function

```
SELECT time_bucket('5 minute', pickup_datetime) as five_min, count(*)
FROM rides
WHERE pickup_datetime < '2016-01-01 02:00'
GROUP BY five_min
ORDER BY five_min;
```

<img src="img/img5.png" style="width:600px;">

## Example 4
Analyze rides by rate type:

```
SELECT rate_code, COUNT(vendor_id) as num_trips FROM rides
WHERE pickup_datetime < '2016-01-08'
GROUP BY rate_code
ORDER BY rate_code;
```

<img src="img/img6.png" style="width:600px;">

<i>rate_code</i> doesn't really tell us what these groups represent, and it doesn't look like there is any other
info on rates in the rides table. However, there is a separate rates table and TimescaleDB supports JOINs
between tables:

```
SELECT rates.description, COUNT(vendor_id) as num_trips
FROM rides JOIN rates on rides.rate_code = rates.rate_code
WHERE pickup_datetime < '2016-01-08'
GROUP BY rates.description ORDER BY rates.description;
```

<img src="img/img7.png" style="width:600px;">

Now we have something that is human readable. In particular, two of these rate types correspond to local airports (JFK, Newark). Let's take a closer look at those two:

```
SELECT rates.description, COUNT(vendor_id) as num_trips,
        AVG(dropoff_datetime - pickup_datetime) as avg_trip_duration,
        AVG(total_amount) as avg_total,
        AVG(tip_amount) as avg_tip, MIN(trip_distance) as min_distance,
        AVG(trip_distance) as avg_distance, MAX(trip_distance) as
        max_distance,
        AVG(passenger_count) as avg_passengers
FROM rides JOIN rates on rides.rate_code = rates.rate_code
WHERE rides.rate_code in (2,3) AND pickup_datetime < '2016-02-01'
GROUP BY rates.description
ORDER BY rates.description;
```

<div style="font-size:30px;color:#3665af;background-color:#e1dfb1;padding:10px;">Exercise - Write Queries</div>

<div style="font-size:20px;color:#F1F8FC;background-color:#557aba;padding:10px;">Query 1</div>

Write a query to find the total number of rides, total distance, and total fare for each day and rate_code. Order the result based on day and then rate_code. Do you see any unexpected number(s) in the result suggesting inaccuracy in the dataset?

Include your query and its result (copy and paste) into the text file. Do this for Q2 and Q3 as well. Output format should be as follows:

<img src="img/img8.png" style="width:600px;">

<i>Note that this result is computed over a different dataset. Your result would be different but should follow
the same format</i>

** Write your query here **

SELECT date_trunc('day', pickup_datetime) as day, rate_code,
       COUNT(*) as num_rides,
       SUM(trip_distance) as total_distance,
       SUM(fare_amount) as total_fare
FROM rides
GROUP BY day, rate_code
ORDER BY day, rate_code;


output

         day         | rate_code | num_rides | total_distance | total_fare 
---------------------+-----------+-----------+----------------+------------
 2016-01-01 00:00:00 |         1 |    146749 |       424881.8 |  1712187.0
 2016-01-01 00:00:00 |         2 |      2908 |        49985.9 |  150973.20
 2016-01-01 00:00:00 |         3 |       326 |         5210.2 |    20100.0
 2016-01-01 00:00:00 |         4 |        77 |         1267.8 |     4639.5
 2016-01-01 00:00:00 |         5 |       704 |         3950.7 |   37528.87
 2016-01-01 00:00:00 |         6 |         5 |           16.9 |     718.07
 2016-01-01 00:00:00 |        99 |         5 |           16.6 |     516.64
 2016-01-02 00:00:00 |         1 |    128219 |       330120.6 | 1407919.96
 2016-01-02 00:00:00 |         2 |      3358 |        58474.5 |   174569.8
 2016-01-02 00:00:00 |         3 |       336 |         5631.2 |    21637.5
 2016-01-02 00:00:00 |         4 |        41 |          640.2 |     2460.0
 2016-01-02 00:00:00 |         5 |       369 |         2676.2 |   19446.43
 2016-01-02 00:00:00 |        99 |         4 |           36.7 |     147.05
 2016-01-03 00:00:00 |         1 |    135955 |       383444.8 |  1535781.0
 2016-01-03 00:00:00 |         2 |      4290 |        74086.2 |   222905.0
 2016-01-03 00:00:00 |         3 |       371 |         5930.2 |    23254.5
 2016-01-03 00:00:00 |         4 |        85 |         1438.3 |    5091.65
 2016-01-03 00:00:00 |         5 |       518 |         3484.6 |   26147.34
 2016-01-03 00:00:00 |         6 |         3 |            4.7 |        7.5
 2016-01-03 00:00:00 |        99 |         1 |              0 |        8.3
 2016-01-04 00:00:00 |         1 |    145228 |      8995628.6 | 1550750.63
 2016-01-04 00:00:00 |         2 |      3907 |        67245.8 |     203164
 2016-01-04 00:00:00 |         3 |       265 |         4024.8 |    15951.5
 2016-01-04 00:00:00 |         4 |        83 |         1298.1 |     4611.0
 2016-01-04 00:00:00 |         5 |       426 |         2938.2 |   21586.00
 2016-01-04 00:00:00 |         6 |         3 |            0.5 |        8.5
 2016-01-04 00:00:00 |        99 |         7 |            1.0 |     155.18
 2016-01-05 00:00:00 |         1 |    157397 |      2062761.2 |  1697599.2
 2016-01-05 00:00:00 |         2 |      3175 |        55005.5 |   164903.8
 2016-01-05 00:00:00 |         3 |       223 |         3382.5 |    13512.0
 2016-01-05 00:00:00 |         4 |        79 |         1343.0 |    4946.09
 2016-01-05 00:00:00 |         5 |       418 |         2961.7 |   25313.27
 2016-01-05 00:00:00 |         6 |         2 |              0 |        5.0
 2016-01-05 00:00:00 |        99 |        12 |           15.5 |     280.20
 2016-01-06 00:00:00 |         1 |    160025 |       386788.6 | 1746327.83
 2016-01-06 00:00:00 |         2 |      2973 |        51232.3 |     154555
 2016-01-06 00:00:00 |         3 |       210 |         3087.4 |    12353.5
 2016-01-06 00:00:00 |         4 |        57 |          976.5 |     3479.5
 2016-01-06 00:00:00 |         5 |       446 |         2670.3 |   20699.24
 2016-01-06 00:00:00 |         6 |         2 |              0 |        8.0
 2016-01-06 00:00:00 |        99 |         7 |            4.1 |       58.1
 2016-01-07 00:00:00 |         1 |    141004 |       333106.7 | 1544280.85
 2016-01-07 00:00:00 |         2 |      2487 |        42863.8 |     129324
 2016-01-07 00:00:00 |         3 |       224 |         3550.9 |    13955.5
 2016-01-07 00:00:00 |         4 |        47 |          827.4 |     3252.0
 2016-01-07 00:00:00 |         5 |       327 |         1964.9 |   16909.70
 2016-01-07 00:00:00 |        99 |         2 |           10.4 |         30
 2016-01-08 00:00:00 |         1 |         9 |           10.6 |       60.5
 2016-01-29 00:00:00 |         1 |      5105 |        11487.5 |    61429.0
 2016-01-29 00:00:00 |         2 |        84 |         1479.9 |       4368
 2016-01-29 00:00:00 |         3 |        10 |          201.3 |      756.5
 2016-01-29 00:00:00 |         4 |         1 |            8.8 |         39
 2016-01-29 00:00:00 |         5 |         7 |           97.6 |     528.62
(53 rows)

Yes, there are some unexpected tresultes in the above output. One of the inaccuracy is on 2016-01-04 for rate code 1 the total distance and total fare are not matching if you campare the same fields with others fields.
Example - On 2016-01-04 and rate code 1, the total distance is very high 8995628.6 comapraed to others of same rate code and different codes but the total_fare is in and around others.

<div style="font-size:20px;color:#F1F8FC;background-color:#557aba;padding:10px;">Query 2</div>

Find the change in the number of rides for each rate_code/hour between 2016-01-01 and 2016-01-02.

For example, if there are 10 rides for rate_code <font color='blue'>99</font> between <font color='orange'>2pm</font> and 3pm on 2016-01-01 and there are 5 rides for the same time and rate_code on 2016-01-02, the result must contain <font color='orange'>2</font>, <font color='blue'>99</font>, -5.

You might find the following functions useful:
- extract(field from timestamp) extracts hour from date
    - extract(hour from timestamp '2001-02-16 20:38:40') returns 20
- date(datetime) extracts date from datetime
    - date('2001-02-16 20:38:40') = '2001-02-16'

** Write your query here **

WITH rides_hourly AS (
  SELECT rate_code, 
         date(pickup_datetime) as day,
         extract(hour from pickup_datetime) as hour,
         COUNT(*) as num_rides
  FROM rides
  WHERE pickup_datetime >= '2016-01-01' AND pickup_datetime < '2016-01-03'
  GROUP BY rate_code, day, hour
)
SELECT r1.rate_code, r1.hour, (r2.num_rides - r1.num_rides) as change_in_rides
FROM rides_hourly r1
JOIN rides_hourly r2 ON r1.rate_code = r2.rate_code AND r1.hour = r2.hour
WHERE r1.day = '2016-01-01' AND r2.day = '2016-01-02'
ORDER BY r1.rate_code, r1.hour;


output 


 rate_code | hour | change_in_rides 
-----------+------+-----------------
         1 |    0 |           -6859
         1 |    1 |           -9370
         1 |    2 |           -8749
         1 |    3 |           -7238
         1 |    4 |           -5031
         1 |    5 |           -2365
         1 |    6 |           -1020
         1 |    7 |            -277
         1 |    8 |             683
         1 |    9 |            1672
         1 |   10 |            1935
         1 |   11 |            1678
         1 |   12 |            1715
         1 |   13 |            1348
         1 |   14 |            1183
         1 |   15 |            1540
         1 |   16 |            1770
         1 |   17 |            1953
         1 |   18 |            2227
         1 |   19 |            -191
         1 |   20 |           -4028
         1 |   21 |            2597
         1 |   22 |            3047
         1 |   23 |            3250
         2 |    0 |              49
         2 |    1 |              20
         2 |    2 |              -3
         2 |    3 |               2
         2 |    4 |              13
         2 |    5 |              35
         2 |    6 |              74
         2 |    7 |              78
         2 |    8 |              46
         2 |    9 |              19
         2 |   10 |              43
         2 |   11 |              22
         2 |   12 |              21
         2 |   13 |             -17
         2 |   14 |              29
         2 |   15 |              28
         2 |   16 |              21
         2 |   17 |              55
         2 |   18 |              30
         2 |   19 |             -45
         2 |   20 |            -120
         2 |   21 |              46
         2 |   22 |             -27
         2 |   23 |              31
         3 |    0 |              -2
         3 |    1 |               0
         3 |    2 |               8
         3 |    3 |               2
         3 |    4 |              11
         3 |    5 |              16
         3 |    6 |               1
         3 |    7 |              -4
         3 |    8 |              -1
         3 |    9 |               6
         3 |   10 |              -7
         3 |   11 |              -3
         3 |   12 |              -7
         3 |   13 |              -7
         3 |   14 |             -15
         3 |   15 |             -11
         3 |   16 |              17
         3 |   17 |              -1
         3 |   18 |               6
         3 |   19 |               0
         3 |   20 |              -3
         3 |   21 |               5
         3 |   22 |               0
         3 |   23 |              -1
         4 |    1 |              -4
         4 |    4 |              -2
         4 |    5 |              -4
         4 |    6 |               2
         4 |    7 |               0
         4 |    9 |              -1
         4 |   10 |              -1
         4 |   12 |              -2
         4 |   13 |               0
         4 |   14 |              -2
         4 |   15 |              -1
         4 |   16 |               1
         4 |   17 |              -2
         4 |   18 |              -1
         4 |   19 |               0
         4 |   21 |               0

<div style="font-size:20px;color:#F1F8FC;background-color:#557aba;padding:10px;">Query 3</div>

Write a query to find the most expensive <i>rate_code (i.e., the highest avg(fare_amount))</i> for each hour of the day on 2016-01-01. The result should contain the date and hour (e.g., 2016-01-01 01:00:00), rate_code, and the average fare for that rate_code. Please note that <b>only</b> the most expensive rate code for each hour must be included in the result. For example, if rate_code 1 is the most expensive between 1pm and 2pm, other rate_codes must not appear in the result for 1-2pm.

** Write your query here **

WITH hourly_avg_fare AS (
  SELECT
    date_trunc('hour', pickup_datetime) AS hour,
    rate_code,
    AVG(fare_amount) as avg_fare
  FROM rides
  WHERE date(pickup_datetime) = '2016-01-01'
  GROUP BY hour, rate_code
),
max_hourly_avg_fare AS (
  SELECT
    hour,
    MAX(avg_fare) AS max_avg_fare
  FROM hourly_avg_fare
  GROUP BY hour
)
SELECT
  haf.hour,
  haf.rate_code,
  haf.avg_fare
FROM hourly_avg_fare haf
JOIN max_hourly_avg_fare mhaf ON haf.hour = mhaf.hour AND haf.avg_fare = mhaf.max_avg_fare
ORDER BY haf.hour;


output


        hour         | rate_code |       avg_fare       
---------------------+-----------+----------------------
 2016-01-01 00:00:00 |         4 |  56.8571428571428571
 2016-01-01 01:00:00 |         6 | 655.3500000000000000
 2016-01-01 02:00:00 |        99 | 104.5000000000000000
 2016-01-01 03:00:00 |        99 | 225.3000000000000000
 2016-01-01 04:00:00 |         5 |  69.8482075471698113
 2016-01-01 05:00:00 |         3 |  67.2000000000000000
 2016-01-01 06:00:00 |         4 |  91.0000000000000000
 2016-01-01 07:00:00 |         4 |  71.6666666666666667
 2016-01-01 08:00:00 |         3 |  55.5666666666666667
 2016-01-01 09:00:00 |         3 |  68.0769230769230769
 2016-01-01 10:00:00 |         3 |  59.9375000000000000
 2016-01-01 11:00:00 |         4 |  73.7500000000000000
 2016-01-01 12:00:00 |         3 |  61.4848484848484848
 2016-01-01 13:00:00 |         4 |  84.0000000000000000
 2016-01-01 14:00:00 |         3 |  66.7162162162162162
 2016-01-01 15:00:00 |         3 |  65.1184210526315789
 2016-01-01 16:00:00 |         3 |  58.0227272727272727
 2016-01-01 17:00:00 |         4 |  85.7000000000000000
 2016-01-01 18:00:00 |         3 |  64.3125000000000000
 2016-01-01 19:00:00 |         2 |  52.0000000000000000
 2016-01-01 20:00:00 |         4 |  56.0000000000000000
 2016-01-01 21:00:00 |         4 | 104.0000000000000000
 2016-01-01 22:00:00 |         4 |  71.0000000000000000
 2016-01-01 23:00:00 |         4 | 193.0000000000000000
(24 rows)

<hr style="border-top: 5px solid purple; margin-top: 1px; margin-bottom: 1px"></hr>

<br>

# <span style="color:#3665af">SECTION 2: Big Graph Processing with GraphLab </span>
<hr>

###### Goal
In this assignment, we will learn how to work with a graph-based distributed computation framework to read graph data and calculate graph properties including triangle counts connected components and PageRank.

In [1]:
#Please run this command to install turicreate
!pip install turicreate

Requirement already satisfied: turicreate in ./.local/lib/python3.8/site-packages (6.4.1)
Requirement already satisfied: numpy in ./.local/lib/python3.8/site-packages (from turicreate) (1.24.2)
Requirement already satisfied: six>=1.10.0 in /usr/lib/python3/dist-packages (from turicreate) (1.14.0)
Requirement already satisfied: numba<0.51.0 in ./.local/lib/python3.8/site-packages (from turicreate) (0.50.1)
Requirement already satisfied: scipy>=1.1.0 in ./.local/lib/python3.8/site-packages (from turicreate) (1.10.1)
Requirement already satisfied: requests>=2.9.1 in /usr/lib/python3/dist-packages (from turicreate) (2.22.0)
Requirement already satisfied: coremltools==4.0b3 in ./.local/lib/python3.8/site-packages (from turicreate) (4.0b3)
Requirement already satisfied: prettytable==0.7.2 in ./.local/lib/python3.8/site-packages (from turicreate) (0.7.2)
Requirement already satisfied: tensorflow>=2.0.0 in ./.local/lib/python3.8/site-packages (from turicreate) (2.12.0)
Requirement already satisfied: pillow>=5.2.0 in /usr/lib/python3/dist-packages (from turicreate) (7.0.0)
Requirement already satisfied: pandas>=0.23.2 in ./.local/lib/python3.8/site-packages (from turicreate) (2.0.0)
Requirement already satisfied: resampy==0.2.1 in ./.local/lib/python3.8/site-packages (from turicreate) (0.2.1)
Requirement already satisfied: decorator>=4.0.9 in ./.local/lib/python3.8/site-packages (from turicreate) (5.1.1)
Requirement already satisfied: setuptools in /usr/lib/python3/dist-packages (from numba<0.51.0->turicreate) (45.2.0)
Requirement already satisfied: llvmlite<0.34,>=0.33.0.dev0 in ./.local/lib/python3.8/site-packages (from numba<0.51.0->turicreate) (0.33.0)
Requirement already satisfied: attr in ./.local/lib/python3.8/site-packages (from coremltools==4.0b3->turicreate) (0.3.2)
Requirement already satisfied: protobuf>=3.1.0 in /usr/lib/python3/dist-packages (from coremltools==4.0b3->turicreate) (3.6.1)
Requirement already satisfied: attrs in ./.local/lib/python3.8/site-packages (from coremltools==4.0b3->turicreate) (23.1.0)
Requirement already satisfied: sympy in ./.local/lib/python3.8/site-packages (from coremltools==4.0b3->turicreate) (1.11.1)
Requirement already satisfied: tqdm in ./.local/lib/python3.8/site-packages (from coremltools==4.0b3->turicreate) (4.65.0)
Requirement already satisfied: typing-extensions>=3.6.6 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (4.5.0)
Requirement already satisfied: astunparse>=1.6.0 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (1.6.3)
Requirement already satisfied: opt-einsum>=2.3.2 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (3.3.0)
Requirement already satisfied: absl-py>=1.0.0 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (1.4.0)
Requirement already satisfied: packaging in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (23.1)
Requirement already satisfied: tensorboard<2.13,>=2.12 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (2.12.2)
Requirement already satisfied: keras<2.13,>=2.12.0 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (2.12.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (1.14.1)
Requirement already satisfied: jax>=0.3.15 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (0.4.8)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (0.4.0)
Requirement already satisfied: libclang>=13.0.0 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (16.0.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (1.54.0)
Requirement already satisfied: h5py>=2.9.0 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (3.8.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1; platform_machine != "arm64" or platform_system != "Darwin" in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (0.32.0)
Requirement already satisfied: flatbuffers>=2.0 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (23.3.3)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (2.2.0)
Requirement already satisfied: google-pasta>=0.1.1 in ./.local/lib/python3.8/site-packages (from tensorflow>=2.0.0->turicreate) (0.2.0)
Requirement already satisfied: pytz>=2020.1 in ./.local/lib/python3.8/site-packages (from pandas>=0.23.2->turicreate) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in ./.local/lib/python3.8/site-packages (from pandas>=0.23.2->turicreate) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.8/site-packages (from pandas>=0.23.2->turicreate) (2.8.2)
Requirement already satisfied: mpmath>=0.19 in ./.local/lib/python3.8/site-packages (from sympy->coremltools==4.0b3->turicreate) (1.3.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/lib/python3/dist-packages (from astunparse>=1.6.0->tensorflow>=2.0.0->turicreate) (0.34.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in ./.local/lib/python3.8/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (1.8.1)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in ./.local/lib/python3.8/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (1.0.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in ./.local/lib/python3.8/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (2.17.3)
Requirement already satisfied: markdown>=2.6.8 in ./.local/lib/python3.8/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (3.4.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in ./.local/lib/python3.8/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (0.7.0)
Requirement already satisfied: werkzeug>=1.0.1 in ./.local/lib/python3.8/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (2.2.3)
Requirement already satisfied: ml-dtypes>=0.0.3 in ./.local/lib/python3.8/site-packages (from jax>=0.3.15->tensorflow>=2.0.0->turicreate) (0.1.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in ./.local/lib/python3.8/site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (1.3.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in ./.local/lib/python3.8/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in ./.local/lib/python3.8/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (0.3.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in ./.local/lib/python3.8/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (5.3.0)
Requirement already satisfied: importlib-metadata>=4.4; python_version < "3.10" in ./.local/lib/python3.8/site-packages (from markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (6.5.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in ./.local/lib/python3.8/site-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (2.1.2)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/lib/python3/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (3.1.0)
Requirement already satisfied: pyasn1>=0.1.3 in ./.local/lib/python3.8/site-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (0.5.0)
Requirement already satisfied: zipp>=0.5 in ./.local/lib/python3.8/site-packages (from importlib-metadata>=4.4; python_version < "3.10"->markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow>=2.0.0->turicreate) (3.15.0)

In [2]:
import turicreate

To facilitate graph-oriented data analysis, GraphLab offers an SGraph object, a scalable graph data structure backed by SFrames (https://turi.com/products/create/docs/generated/graphlab.SGraph.html).
You will need to briefly read through https://apple.github.io/turicreate/docs/api/ to apply different functions for Section2

First we create a graph. We can start with empty graph, then add vertices and edges in the form of lists of GraphLab.

In [3]:
from turicreate import SGraph, Vertex, Edge
g = SGraph()
verts = [Vertex(0, attr={'breed': 'labrador'}),
         Vertex(1, attr={'breed': 'Siberian Husky'}),
         Vertex(2, attr={'breed': 'vizsla'})]
g = g.add_vertices(verts)
g = g.add_edges(Edge(1, 2))
print(g)

SGraph({'num_edges': 1, 'num_vertices': 3})

In [4]:
#Inspecting SGraphs
print(g.summary())

{'num_edges': 1, 'num_vertices': 3}

Another way to create a graph is from an edge list stored in an SFrame
https://apple.github.io/turicreate/docs/api/generated/turicreate.SFrame.html?highlight=sframe

In [6]:
from turicreate import SFrame
edge_data = SFrame.read_csv(
    'star-wars-network-edges.csv')

g = SGraph()
g = g.add_edges(edge_data, src_field='source', dst_field='target')
print(g)

Finished parsing file /home/srinath/star-wars-network-edges.csv

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Parsing completed. Parsed 60 lines in 0.129221 secs.

Finished parsing file /home/srinath/star-wars-network-edges.csv

Parsing completed. Parsed 60 lines in 0.136262 secs.

SGraph({'num_edges': 60, 'num_vertices': 21})

Here we show how to save the SGraph in binary format to a new folder called "star-wars-network-edges" and re-load it with a different name:

In [9]:
import turicreate as gl
g.save('star-wars-network-edges')
new_graph = gl.load_sgraph('star-wars-network-edges')

***
<div style="width:100%;">
    <div style="width:15%;float:left;font-size:20px;background-color:#557aba;color:#eff3f9;padding:6px;font-wight:bold;text-align:center;">
    Question 1
    </div>
    <div style="width:85%;float:right;font-size:16px;background-color:#dce4f2;font-wight:normal;color:black;padding:6px;">
    How many vertices and edges are in the graph? 
    </div>
</div>

In [11]:
graph_summary = new_graph.summary()

num_vertices = graph_summary["num_vertices"]
num_edges = graph_summary["num_edges"]

print(f"Number of vertices: {num_vertices}")
print(f"Number of edges: {num_edges}")

Number of vertices: 21
Number of edges: 60

## Place your answer Here
The number of vertices = 21
The number of edges = 60

<div style="width:100%;">
    <div style="width:15%;float:left;font-size:20px;background-color:#557aba;color:#eff3f9;padding:6px;font-wight:bold;text-align:center;">
    Question 2
    </div>
    <div style="width:85%;float:right;font-size:16px;background-color:#dce4f2;font-wight:normal;color:black;padding:6px;">
    Which vertex has the highest degree? (highest number of edges).
    </div>
</div>

In [13]:
import turicreate as tc


def count_degree(src, edge, dst):
    src['degree'] += 1
    dst['degree'] += 1
    return (src, edge, dst)


new_graph.vertices['degree'] = 0


new_graph = new_graph.triple_apply(count_degree, mutated_fields=['degree'])


highest_degree_vertex = new_graph.vertices.topk('degree', k=1)

print(highest_degree_vertex)

+------+--------+
| __id | degree |
+------+--------+
| LUKE |   15   |
+------+--------+
[1 rows x 2 columns]

## Place your answer Here
The highest degree vertex is LUKE

***
For big graphs, we can print summary of statistics:

In [14]:
## Place your answer Here
graph_summary = new_graph.summary()

print(graph_summary)

{'num_edges': 60, 'num_vertices': 21}

# Load graph data : Enron email network (edge indicated that email was exchanged, undirected edges)

In [15]:
g = gl.load_sgraph('http://snap.stanford.edu/data/email-Enron.txt.gz', 'snap')

Downloading http://snap.stanford.edu/data/email-Enron.txt.gz to /var/tmp/turicreate-srinath/5477/a84c6251-22b1-412c-998d-d643fbfde46c.gz

Finished parsing file http://snap.stanford.edu/data/email-Enron.txt.gz

Parsing completed. Parsed 367662 lines in 0.193948 secs.

***
<div style="width:100%;">
    <div style="width:15%;float:left;font-size:20px;background-color:#557aba;color:#eff3f9;padding:6px;font-wight:bold;text-align:center;">
    Question 3
    </div>
    <div style="width:85%;float:right;font-size:16px;background-color:#dce4f2;font-wight:normal;color:black;padding:6px;">
    Report number of vertices and edges.
    </div>
</div>

In [16]:
graph_summary = g.summary()

num_vertices = graph_summary["num_vertices"]
num_edges = graph_summary["num_edges"]

print(f"Number of vertices: {num_vertices}")
print(f"Number of edges: {num_edges}")

Number of vertices: 36692
Number of edges: 367662

## Place your answer Here
Number of vertices: 36692
Number of edges: 367662

<div style="width:100%;">
    <div style="width:15%;float:left;font-size:20px;background-color:#557aba;color:#eff3f9;padding:6px;font-wight:bold;text-align:center;">
    Question 4
    </div>
    <div style="width:85%;float:right;font-size:16px;background-color:#dce4f2;font-wight:normal;color:black;padding:6px;">
    Calculate PageRank for vertex 47.
    </div>
</div>

In [17]:
import turicreate as tc

page_rank_result = tc.pagerank.create(g)


page_rank_sframe = page_rank_result['pagerank']


vertex_47_pagerank = page_rank_sframe[page_rank_sframe['__id'] == 47]['pagerank'][0]

print(f"PageRank for vertex 47: {vertex_47_pagerank}")

Counting out degree

Done counting out degree

+-----------+-----------------------+

| Iteration | L1 change in pagerank |

+-----------+-----------------------+

| 1         | 35792.5               |

| 2         | 18598.7               |

| 3         | 9357.91               |

| 4         | 5833.51               |

| 5         | 3647.85               |

| 6         | 2553.11               |

| 7         | 1798.21               |

| 8         | 1342.69               |

| 9         | 1004.34               |

| 10        | 774.803               |

| 11        | 597.425               |

| 12        | 468.773               |

| 13        | 367.483               |

| 14        | 291.14                |

| 15        | 230.524               |

| 16        | 183.778               |

| 17        | 146.495               |

| 18        | 117.314               |

| 19        | 93.9822               |

| 20        | 75.5275               |

+-----------+-----------------------+

PageRank for vertex 47: 0.30524878179512493

## Place your answer Here

PageRank for vertex 47: 0.30524878179512493

***

***
<div style="width:100%;">
    <div style="width:15%;float:left;font-size:20px;background-color:#557aba;color:#eff3f9;padding:6px;font-wight:bold;text-align:center;">
    Question 5
    </div>
    <div style="width:85%;float:right;font-size:16px;background-color:#dce4f2;font-wight:normal;color:black;padding:6px;">
    Calculate the number of triangles in the graph. 
    </div>
</div>  (A triangle is a complete subgraph with only three vertices.)

In [19]:

import turicreate as tc


triangle_count_result = tc.triangle_counting.create(g)


total_triangles = triangle_count_result['triangle_count']['triangle_count'].sum() // 3


print(f"Total number of triangles in the graph: {total_triangles}")

Initializing vertex ids.

Removing duplicate (bidirectional) edges.

Counting triangles...

Finished in 2.8884 secs.

Total triangles in the graph : 727044

Total number of triangles in the graph: 727044

 The number of triangles - 727044.

***

***
<div style="width:100%;">
    <div style="width:15%;float:left;font-size:20px;background-color:#557aba;color:#eff3f9;padding:6px;font-wight:bold;text-align:center;">
    Question 6
    </div>
    <div style="width:85%;float:right;font-size:16px;background-color:#dce4f2;font-wight:normal;color:black;padding:6px;">
    Calculate the number of connected components in the graph. A connected component of an undirected graph is a subgraph in which any two vertices are connected to  each other by paths.
    </div>
</div>

Reference 
https://apple.github.io/turicreate/docs/api/generated/turicreate.connected_components.ConnectedComponentsModel.html

In [24]:
import turicreate as tc

connected_components_result = tc.connected_components.create(g)

connected_components_sframe = connected_components_result['component_id']

num_connected_components = len(connected_components_sframe['component_id'].unique())

print(f"Number of connected components in the graph: {num_connected_components}")

+-----------------------------+

| Number of components merged |

+-----------------------------+

| 153903                      |

| 0                           |

+-----------------------------+

Number of connected components in the graph: 1065

***

***
<div style="width:100%;">
    <div style="width:15%;float:left;font-size:20px;background-color:#557aba;color:#eff3f9;padding:6px;font-wight:bold;text-align:center;">
    Question 7
    </div>
    <div style="width:85%;float:right;font-size:16px;background-color:#dce4f2;font-wight:normal;color:black;padding:6px;">
    Write component id for vertex 47.
    </div>
</div>

In [26]:
## Place your answer Here

vertex_47_component_id = connected_components_sframe[connected_components_sframe['__id'] == 47]['component_id'][0]

print(f"Component ID for vertex 47: {vertex_47_component_id}")

Component ID for vertex 47: 20

<hr style="border-top: 5px solid purple; margin-top: 1px; margin-bottom: 1px"></hr>